import type { {{pascalCase name}}Props } from "./{{pascalCase name}}.types";

export function {{pascalCase name}}(props: {{pascalCase name}}Props) {
  return (
    <div>
      {/* Component content */}
    </div>
  );
}